<article [class]="obtenerClasesCard()">

  <h2 [class]="obtenerClasesTitulo()">{{ titulo }}</h2>

  <ul class="pricing-card__lista">
    @for (ventaja of ventajas; track ventaja) {
    <li [class]="obtenerClasesVentaja()">{{ ventaja }}</li>
    }
  </ul>

  <app-button
    class="pricing-card__app-button"
    (click)="alSuscribirse()"
    [fullWidth]="true"
    [habilitado]="deshabilitada"
    tamanio="lg"
    variante="primary">
    {{ texto_boton }}
  </app-button>

  <p [class]="obtenerClasesPrecio()">{{ precio }}</p>

</article>
