<article [class]="obtenerClasesCard()">

  <h2 [class]="obtenerClasesTitulo()">{{ titulo }}</h2>

  <ul class="tarjeta-precios__lista">
    @for (ventaja of ventajas; track ventaja) {
    <li [class]="obtenerClasesVentaja()">{{ ventaja }}</li>
    }
  </ul>

  <app-button
    class="tarjeta-precios__app-boton"
    (click)="alSuscribirse()"
    [anchoCompleto]="true"
    [habilitado]="deshabilitada"
    tamanio="grande"
    variante="primario">
    {{ texto_boton }}
  </app-button>

  <p [class]="obtenerClasesPrecio()">{{ precio }}</p>

</article>
