<article class="form__textarea">
  <label [for]="inputId()" class="form__textarea__label">
    {{ label }}
    @if (required) {
      <span class="form__input__required">*</span>
    }
  </label>

  <textarea [id]="inputId()" [name]="name" [placeholder]="placeholder" [required]="required"  [formControl]="control" class="form__input__field"></textarea>

  @if (control && control.invalid && (control.dirty || control.touched)) {
    <span class="form__input__error">{{ errorMessage }}</span>
  }

  @if (helpText) {
    <span class="form__input__help">{{ helpText }}</span>
  }
</article>
