<article class="formulario-textarea">
  <label [for]="inputId()" class="formulario-textarea__etiqueta">
    {{ etiqueta }}
    @if (requerido) {
    <span class="formulario-textarea__requerido">*</span>
    }
  </label>

  <textarea [id]="inputId()" [name]="nombre" [placeholder]="placeholder" [required]="requerido" [formControl]="controlDelFormulario"
    class="formulario-textarea__campo"></textarea>

  @if (controlDelFormulario && controlDelFormulario.invalid && (controlDelFormulario.dirty || controlDelFormulario.touched)) {
  <span class="formulario-textarea__error">{{ mensajeDeError }}</span>
  }

  @if (textoDeAyuda) {
  <span class="formulario-textarea__ayuda">{{ textoDeAyuda }}</span>
  }
</article>