<app-modal
  (cerrar)="cerrarModal()"
  [abierto]="abierto"
  [anchoPX]="500"
  [titulo]="alimento?.descripcion || 'Ingredientes'">

  @if (alimento) {
    <div class="ingredientes">
      <!-- Información del alimento -->
      <section class="ingredientes__info">
        <figure class="ingredientes__icono">
          @switch (alimento.icono) {
            @case ('pizza') {
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2C8.43 2 5.23 3.54 3.01 6L12 22l8.99-16C18.78 3.55 15.57 2 12 2zM7 7c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm5 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"
                  fill="currentColor"/>
              </svg>
            }
            @case ('bebida') {
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3 2l2.01 18.23C5.13 21.23 5.97 22 7 22h10c1.03 0 1.87-.77 1.99-1.77L21 2H3zm9 17c-1.66 0-3-1.34-3-3 0-2 3-5.4 3-5.4s3 3.4 3 5.4c0 1.66-1.34 3-3 3zm6.33-11H5.67l-.44-4h13.53l-.43 4z"
                  fill="currentColor"/>
              </svg>
            }
            @case ('plato') {
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 9H9V2H7v7H5V2H3v7c0 2.12 1.66 3.84 3.75 3.97V22h2.5v-9.03C11.34 12.84 13 11.12 13 9V2h-2v7zm5-3v8h2.5v8H21V2c-2.76 0-5 2.24-5 4z"
                  fill="currentColor"/>
              </svg>
            }
          }
        </figure>

        <div class="ingredientes__resumen">
          <p class="ingredientes__calorias">
            <strong>Total de calorías:</strong> {{ caloriasTotal }} kcal
          </p>
        </div>
      </section>

      <!-- Lista de ingredientes -->
      <section class="ingredientes__lista">
        <h3 class="ingredientes__subtitulo">Ingredientes detallados</h3>

        <ul class="ingredientes__items">
          @for (ingrediente of ingredientesDetallados; track ingrediente.nombre) {
            <li class="ingredientes__item">
              <span class="ingredientes__nombre">{{ ingrediente.nombre }}</span>
              <span class="ingredientes__cantidad">{{ ingrediente.cantidad }}</span>
              <span class="ingredientes__calorias-item">{{ ingrediente.calorias }} kcal</span>
            </li>
          }
        </ul>
      </section>
    </div>
  }
</app-modal>
