<article class="form-input">
  <label [for]="inputId()" class="form-input__label">
    {{ label }}
    @if (required) {
    <span class="form-input__required">*</span>
    }
  </label>

  <input [autocomplete]="autocomplete" [id]="inputId()" [name]="name" [placeholder]="placeholder" [required]="required"
    [type]="type" [formControl]="control" class="form-input__field">

  @if (control && control.invalid && (control.dirty || control.touched)) {
  <span class="form-input__error">{{ errorMessage }}</span>
  }

  @if (helpText) {
  <span class="form-input__help">{{ helpText }}</span>
  }
</article>