@import "../../../../styles/01-tools/mixins";

.form__input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-xss);
  width: var(--width-estandar); // ESTO DEBE DE CAMBIAR PORQUE ES MUY PEQUEÑO Y LO DEBO AJUSTAR CORRECTAMENTE


  &__label {
    color: var(--text-light);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-secundary);
    margin-bottom: var(--input-margin-bottom);
  }

  &__required {
    color: var(--button-red);
  }

  &__field {
    @include input-base;
    background-color: var(--button-yellow);



    &::placeholder {
      @include input-placeholder;
    }




    &:hover {
      @include input-hover;
    }
  }

  &__error {
    color: var(--button-red);
    font-size: var(--font-size-sm);
    font-family: var(--font-secundary);
    margin-top: var(--input-margin-bottom);
  }

  &__help {
    color: var(--text-dark);
    font-size: var(--font-size-sm);
    font-family: var(--font-secundary);
    opacity: 0.8;
    margin-top: var(--input-margin-bottom);
  }
}
