<article class="campo-entrada">
  <label [for]="inputId()" class="campo-entrada__etiqueta">
    {{ etiqueta }}
    @if (requerido) {
    <span class="campo-entrada__requerido">*</span>
    }
  </label>

  <input [autocomplete]="autocompletado" [id]="inputId()" [name]="nombre" [placeholder]="placeholder" [required]="requerido"
    [type]="tipo" [formControl]="controlDelFormulario" class="campo-entrada__campo">

  @if (controlDelFormulario && controlDelFormulario.invalid && (controlDelFormulario.dirty || controlDelFormulario.touched)) {
  <span class="campo-entrada__error">{{ mensajeDeError }}</span>
  }

  @if (textoDeAyuda) {
  <span class="campo-entrada__ayuda">{{ textoDeAyuda }}</span>
  }
</article>
