<article class="contact-form">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form">

    <fieldset class="form__fieldset">
      <legend class="form__legend">Datos de contacto</legend>

      <!-- Campo Nombre -->
      <p class="form__group">
        <label for="nombre" class="form__label">Escribe tu nombre:</label>
        <input
          type="text"
          id="nombre"
          formControlName="nombre"
          class="form__input"
          placeholder="">
      </p>

      <!-- Campo Apellido -->
      <p class="form__group">
        <label for="apellido" class="form__label">Escribe tu apellido:</label>
        <input
          type="text"
          id="apellido"
          formControlName="apellido"
          class="form__input"
          placeholder="">
      </p>

      <!-- Campo Email -->
      <p class="form__group">
        <label for="email" class="form__label">Escribe tu email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form__input"
          placeholder="">
      </p>

    </fieldset>

    <!-- Botón Enviar -->
    <app-button [fullWidth]="true" [habilitado]="contactForm.invalid" tamanio="lg" tipo="submit" variante="primary">
      Enviar
    </app-button>

  </form>
</article>
